* {
    padding: 0%;
    margin: 0%;
}

.addSocial-container {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    bottom: 0%;
}

.addSocial-card--container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 390px;
    min-height: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #FFFFFF;
    z-index: 3 !important;
}

.addSocial-header {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 20px;
    color: #484848;
    margin-bottom: 30px;
    justify-content: center;
}

.addSocial-close--icon {
    position: absolute;
    right: 20px;
    /* top: 20px; */
}

.addSocial-card--container img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.addSocial-input--container {
    width: 72%;
}

.addSocial-save--open {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.addSocial-save--open div {
    display: flex;
    width: 48%;

}


@media screen and (max-width: 600px) {

    .addSocial-card--container {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 95vw;
        min-height: 350px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background: #FFFFFF;
        z-index: 3 !important;
    }
}